body {
  background-color: #f5f5f5 !important;
  font-family: "Balsamiq Sans", cursive !important;
}

.row.no-margin {
  margin: 0 !important;
  padding: 0px !important;
}

.header {
  text-align: center;
  background-color: #001b35;
  color: white;
}

.form-control {
  margin-bottom: 3%;
  width: 70% !important;
}

.keyDetails {
  background-color: white;
  float: left;
  clear: both;
}

.fiveDay {
  float: left;
  clear: both;
  width: 100%;
}

ul {
  list-style-type: none;
  position: relative;
  right: 10%;
}

.cities {
  background-color: white;
  border: 0px;
  margin: 1%;
  width: 100%;
}

.keyDetailsList {
  position: relative;
  left: 1px;
}

.forecast {
  list-style-type: none;
  background-color: #1e90ff;
  height: 100%;
  color: white;
  margin: 1.5%;
  border-color: black;
  border: 1%;
  border-radius: 15px;
}

.forecastText {
  margin: 10px 0px;
}

.searchBtn {
  position: relative;
  right: 14%;
  bottom: 4px;
  color: white;
  background-color: #1e90ff;
}
.searchBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#clearBtn {
  color: white;
  background-color: black;
  border-color: red;
  border-radius: 10px;
}
#clearBtn:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
}

.mild {
  background-color: blue;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.moderate {
  background-color: yellow;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.severe {
  background-color: red;
  border-radius: 15px;
  color: white;
  width: 10%;
  padding: 5px;
}

.cities {
  border-radius: 15px;
}
.cities:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
